input {
    border-radius: 8px;
    margin: 5px;
}
label {
    margin: 5px;
}
form {
    margin: 1% auto;
    display: flex;
    border: solid 1px grey;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    align-self: center;
}
body {
    background-color: antiquewhite;
}